In [15]:
from datetime import datetime
import pandas as pd
import numpy as np
import re

In [16]:
df=pd.read_csv("D:/Code/0918/transaction.csv")

In [17]:
df=df.drop(columns=df.columns[[6, 9, 10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]])
df_cols=["number",
         "order_book_id",
         "direction",
         "date",
         "time",
         "volume",
         "open_price",
         "close_price"]
df.columns=df_cols

In [18]:
df

,number,order_book_id,direction,date,time,volume,open_price,close_price
0,1,螺纹钢2501,开空,2024/4/10,0:00:00,1,3573.0,NaN
1,2,螺纹钢2501,开多,2024/4/25,0:00:00,1,3667.0,NaN
2,3,螺纹钢2501,平空,2024/4/26,0:00:00,1,NaN,3675/3572
3,4,螺纹钢2501,开多,2024/5/16,0:00:00,1,3726.0,NaN
4,5,螺纹钢2501,开多,2024/5/30,0:00:00,1,3791.0,NaN
5,6,螺纹钢2501,开多,2024/6/11,0:00:00,1,3654.0,NaN
6,7,螺纹钢2501,开空,2024/6/20,0:00:00,1,3667.0,NaN
7,8,螺纹钢2501,平空,2024/6/21,0:00:00,1,NaN,3642/3666
8,9,螺纹钢2501,开空,2024/7/17,0:00:00,1,3572.0,NaN
9,10,螺纹钢2501,平空,2024/7/18,0:00:00,1,NaN,3569/3571
10,11,螺纹钢2501,开空,2024/8/1,0:00:00,1,3444.0,NaN
11,12,螺纹钢2501,平空,2024/8/2,0:00:00,1,NaN,3470/3443

In [31]:
date=str(df.iloc[0,3])
dat=datetime.strptime(date,'%Y/%m/%d')
iso_date_string=dat.strftime('%Y/%m/%d')
iso_date=int(iso_date_string.replace("/",""))
iso_date-=19000000
iso_date

1240410

In [34]:
n=df.shape[0]
for i in range(0,n):
    OB_id=df.iloc[i-1,1]
    dir=df.iloc[i-1,2]
    date=str(df.iloc[i-1,3])
    dat=datetime.strptime(date,'%Y/%m/%d')
    iso_date_string=dat.strftime('%Y/%m/%d')
    iso_date=int(iso_date_string.replace("/",""))
    iso_date-=19000000
    iso_string=str(iso_date)
    time=df.iloc[i-1,4].lstrip("0").replace(":","")
    v=df.iloc[i-1,5]
    vol=str(v)
    if dir=="开空":
        str1="BUYSHORT("+"now_date="+iso_string+" and "+"now_time="+time+","+vol+","+"MARKETER)\n"
    if dir=="开多":
        str1="BUY("+"now_date="+iso_string+" and "+"now_time="+time+","+vol+","+"MARKETER)\n"
    if dir=="平空":
        str1="SELLSHORT("+"now_date="+iso_string+" and "+"now_time="+time+","+vol+","+"MARKETER)\n"
    if dir=="平多":
        str1="SELL("+"now_date="+iso_string+" and "+"now_time="+time+","+vol+","+"MARKETER)\n"
    with open("test.txt","a") as f:
        f.write(str1)