In [4]:
import pandas as pd
import numpy as np
import os
import time
import talib as ta

from datetime import datetime,date,timedelta
from tqsdk import TqApi,TqAuth,TqBacktest,TqSim,TargetPosTask
from sklearn.cluster import KMeans
from kneed import KneeLocator

In [5]:
acc=TqSim()
api=TqApi(web_gui=True,backtest=TqBacktest(start_dt=date(2024,3,1),end_dt=date(2024,9,20)),auth=TqAuth("18049858285","18049858285wk"))

    INFO - 您可以访问 http://127.0.0.1:60410 查看策略绘制出的 K 线图形。

In [6]:
sub_dir=pd.read_csv("D:/Code/0911/subjective_prediction.csv")
win_shut_str=''
time_window=timedelta(days=5)
on_the_window=False

In [7]:
sub_dir

   Unnamed: 0 order_book_id    datetime  direction
0           0        rb2501  2024-04-09         -1
1           1        rb2501  2024-04-24          1
2           2        rb2501  2024-05-15          1
3           3        rb2501  2024-05-29          1
4           4        rb2501  2024-06-07          1
5           5        rb2501  2024-06-19         -1
6           6        rb2501  2024-07-16         -1
7           7        rb2501  2024-07-31         -1

In [8]:
open_condition=False
long_condition=False
short_condition=False
close_condition1=False
close_long_condition=False
close_short_condition=False
hold_long_pos=False
hold_short_pos=False
break_up=False
break_down=False

In [9]:
km_upline=0
km_dnline=1000000
sub_chance=0
direction=0

In [21]:
pos=api.get_position()
pos

<tqsdk.entity.Entity object at 0x000001E7EE268860>, D({})

In [28]:
d_klines=api.get_kline_serial("SHFE.rb2501",86400)

In [30]:
while True:
    api.wait_update()
    if api.is_changing(d_klines.iloc[-1],"close"):
        d_close=d_klines['close']
        d_open=d_klines['open']
        d_high=d_klines['high']
        d_low=d_klines['low']
        if len(d_close) < 15:
            return

SyntaxError: 'return' outside function (420534836.py, line 9)